.headerSection {
  background-color: red;
  background: #2062c5;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.231) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.231) 0.1em, transparent 0.1em);
  background-size: 10em 10em;
  height: 846px;
  box-shadow: 10px 10px 0px rgba(0, 0, 0);
}

.bussinessText {
  display: inline-flex;
  transform: rotate(-4deg);
  padding: 13.1px 41.325px 20.179px 33.601px;
  justify-content: center;
  align-items: center;
  background: #f7e485;
  box-shadow: 7.825399398803711px 7.825399398803711px 0px 0px #000;
  color: black;
  font-size: 40px;
  margin-left: 20px;
}

.frameOne {
  position: absolute;
  right: 250px;
  top: 380px;
}

.frameTwo {
  position: absolute;
  right: 0;
  top: 480px;
}

.frameThree {
  position: absolute;
  right: 0;
  top: 30px;
}
